# Data Science with Python Pandas

## Exploring Series

In [12]:
import pandas as pd
import numpy as np

In [13]:
# Create a series
pd.Series(np.random.rand(5), index=['a','b','c','d','e'])

a    0.864036
b    0.231735
c    0.845331
d    0.357517
e    0.740257
dtype: float64

In [14]:
# Preserve the series in variable a for later access
s = pd.Series(np.random.rand(5))
print(s)

0    0.413914
1    0.694750
2    0.440217
3    0.322919
4    0.486087
dtype: float64

In [38]:
# Index
print (s[0])
print ("\n")
print (s[:3])

0.413914469262


0    0.413914
1    0.694750
2    0.440217
dtype: float64

## Exploring DataFrames

In [41]:
# Create a dataframe
df = pd.DataFrame(s, columns = ['Coluna 1'])
df

   Coluna 1
0  0.413914
1  0.694750
2  0.440217
3  0.322919
4  0.486087

In [43]:
# Can access columns by name
df['Coluna 1']

0    0.413914
1    0.694750
2    0.440217
3    0.322919
4    0.486087
Name: Coluna 1, dtype: float64

In [44]:
# Easy do add columns
df['Coluna 2'] = df['Coluna 1'] * 4
df

   Coluna 1  Coluna 2
0  0.413914  1.655658
1  0.694750  2.778999
2  0.440217  1.760869
3  0.322919  1.291678
4  0.486087  1.944347

In [45]:
# Other manipulation, like sorting -- if you want to preserve, set equal to a var
df.sort_values(by = 'Coluna 2')

   Coluna 1  Coluna 2
3  0.322919  1.291678
0  0.413914  1.655658
2  0.440217  1.760869
4  0.486087  1.944347
1  0.694750  2.778999

In [49]:
# Boolean indexing
df[df['Coluna 2'] <= 2]

   Coluna 1  Coluna 2
0  0.413914  1.655658
2  0.440217  1.760869
3  0.322919  1.291678
4  0.486087  1.944347

In [50]:
df.apply(lambda x: min(x) + max(x))

Coluna 1    1.017669
Coluna 2    4.070677
dtype: float64

In [51]:
df.describe()

       Coluna 1  Coluna 2
count  5.000000  5.000000
mean   0.471578  1.886310
std    0.138224  0.552898
min    0.322919  1.291678
25%    0.413914  1.655658
50%    0.440217  1.760869
75%    0.486087  1.944347
max    0.694750  2.778999